@page "/dogs/details"
@using Microsoft.EntityFrameworkCore
@using Blazor213FinalWebAPP.Models
@inject IDbContextFactory<_213FinalWebAPP.Data._213FinalWebAPPContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <hr />
    @if (dog is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dd class="col-sm-10"> <img src=@dog.Images alt="dog" style="width:120px;height:200px"></dd>
            
            <dd class="col-sm-10">@dog.Name</dd>
            
            <dd class="col-sm-10">@dog.Breed</dd>
            
            <dd class="col-sm-10">@dog.Size</dd>
            
            <dd class="col-sm-10">@dog.Age</dd>
            
            <dd class="col-sm-10">@dog.Description</dd>
            
            <dd class="col-sm-10">@dog.Other</dd>
            
            <dd class="col-sm-10">@dog.Gender</dd>
            
            <dd class="col-sm-10">@dog.Temperament</dd>
        </dl>
        <div>
            @* <a href="@($"/dogs/edit?id={dog.Id}")">Edit</a> |*@
            <a href="@($"/dogs")">Back to List</a>
        </div>
    }
</div>

@code {
    private Dog? dog;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        dog = await context.Dog.FirstOrDefaultAsync(m => m.Id == Id);

        if (dog is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
